<h1>Products</h1>
<ul>
	{{#each itemController='product'}}
		<li>{{name}} - <button {{action 'destroy'}}>DELETE</button></li>
		<ul>
			{{#each category_ids}}
				<li>{{name}}</li>
			{{/each}}
		</ul>
		{{#each image_ids}}
			<div class="image"><img {{bind-attr src=path}}></div>
		{{/each}}
	{{else}}
		It is no products yet!
	{{/each}}
</ul>

<button {{action 'openForm'}}>{{#if isForm}}Close form{{else}}Open form{{/if}}</button>
<br>
{{#if isForm}}
  {{render 'addProduct'}}
{{/if}}