<div class="last">
  <form class="form-inline" {{action login on="submit"}}>
    <h2>Log In</h2>
    {{input value=email type="text" placeholder="Username"}}
    {{input value=password type="password" placeholder="Password"}}
    {{input type="checkbox" checked=rememberMe}}
    {{input class="btn" type="submit" value="Log In"}}
  </form>
  {{#if errorMessage}}
    <div class="alert alert-error">{{errorMessage}}</div>
  {{/if}}
</div>

