{{#each}}
	<div {{bind-attr class=":row status"}}>
		<div class="number">{{id}}</div>
		<div class="name">{{name}}</div>
		<div class="sostav">
			<ul>
				{{#each product_ids}}
					<li>{{name}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="price">{{sum}}</div>
		<div class="phone">{{phone}}</div>
		<div class="adress">{{addres}}</div>
		<div class="time">{{created_at}}</div>
	</div>
{{/each}}