<div class="last">
	<p>Товары:</p>
	<div class="addedit">
      <div class="add" {{action 'openForm'}}>{{#if isForm}}Закрыть{{else}}Добавить{{/if}}</div>
      <div class="edit">Редактировать</div>
      <div class="delete">Удалить</div>
  	</div>
  	{{#if isForm}}
  		{{render 'addProduct'}}
	{{/if}}
  	<div class="row">
	    <div class="checkbox"><input type="checkbox"></div>
	    <div class="number">#</div>
	    <div class="name_product">Название</div>
	    <div class="url_product">url</div>
	    <div class="category_product">Категория</div>
	    <div class="price_product">Цена</div>
	    <div class="active_on_storage">Наличие на складе</div>
	    <div class="on_storage">Кол-во на складе</div>
	    <div class="active_product">Активность</div>
	    <div class="sort_product">Сортировка</div>
    </div>
    {{#each itemController='product'}}
    <div class="row">
	    <div class="checkbox"><input type="checkbox"></div>
	    <div class="number">#</div>
	    <div class="name_product">{{name}}</div>
	    <div class="url_product">url</div>
	    <div class="category_product">{{#each category_ids}}{{name}}{{/each}}</div>
	    <div class="price_product">Цена</div>
	    <div class="active_on_storage">Наличие на складе</div>
	    <div class="on_storage">Кол-во на складе</div>
	    <div class="active_product">Активность</div>
	    <div class="sort_product">Сортировка</div>
	    <div class="destroy" {{action 'destroy'}}><a>X</a></div>
	    {{#each image_ids}}
			<div class="image"><img {{bind-attr src=path}}></div>
		{{/each}}
	</div>
	{{else}}
		<br />
		<p class="empty">У вас нет не одного товара!</p><div class="add addempty" {{action 'openForm'}}>Добавьте их!</div>
	{{/each}}
</div>